/* BQN386 Font Face */
@font-face {
  font-family: 'BQN';
  src: url('BQN386.ttf') format('truetype');
}

/* Applying the BQN386 Font */
body, input, select, textarea, pre, code, kbd {
  font-family: 'BQN', monospace;
}

body {
  text-align: justify;
}

/* Basic styling for code elements */
code, pre {
  background-color: #e3e7e7;
  color: #292929;
  font-size: 0.94em;
}

pre, pre.src {
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #eee;
  background-color: #e3e7e7;
}

pre.src {
  position: relative;
  margin: 0 2em 0 2em;
  padding-top: 0.7em;
}

/* Hyperlinks */
a:link, a:visited {
  color: #267CB9;
  text-decoration: none;
}
